# Hexo
db.json
*.log
node_modules/
public/
.deploy*/
.env
.env.build
.vercel

# Hidden files
.fuse_hidden*

# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac:
.DS_Store

# Text Backup
.~*
*.*~
*.#*
*#
*.kate-swp
